body{
    margin: 0px;
    background-color: #b6b6bb;
}


h1{
    font-size: 50px;
    text-align: center;
    color: #1d1b1b;
}


#board{
    margin: auto;
    width: 300px;
    height: 300px;
    /* border: 1px solid #131212; */
}

.cell{
    width: 98px;
    height: 98px;
    border: 1px solid #131212;
    display: block;
    float: left;
    font-size: 80px;
    text-align: center;
    text-decoration: none;
    line-height: 98px;
    cursor: pointer;
}

.cell.fill-x , .cell.fill-o{
    cursor: not-allowed;
}

.cell.fill-x::after{
    content: "x";
    color: #bef0f0;
}

.cell.fill-o::after{
    content: "o";
    color: #8393a0;
}

.cell:hover {
    background-color: #696669;
}

.highlight {
    background-color: #469b66 !important;
}